@import 'variables';

/* header */
nav {
    .container-fluid {
        .navbar-brand { 
            font-family:'lobster',sans-serif;
            color: $colorFuente;
        }
        .navbar-toggler {
            font-size: 14px;
        }
        .nav-item a {
            font-family: $FuenteTextos;
            color: black;
            &:hover {
                cursor: pointer;
                color: orange;
                transition: all 0.01s;
            }
        }
    }
}
/* fin header */