@import 'variables';

/* noticias */
.container-noticia {
    .noticia1 {
        background-color: #efefef;
        h2 {
            margin-left: 5%;
            font-family: $FuenteTitulos;
            font-size: 60px;
        }
        .fecha {
            color: grey;
            text-align: center;
            font-family: $FuenteTextos;
        }
        .autor {
            margin-left: 2%;
            color:cadetblue;
        }
        .desarrollo {
            font-family:$FuenteTextos;
            font-size: 30px;
            line-height: 50px;
            justify-content: center;
            text-align: justify;
            width: auto;
            .thor {
                border-radius: 10%;
                float: left;
                width: 40%;
                height: auto;
                margin: 2% 2% 0 0;
            }
            .compartir {
                a {
                    color: $colorFuente;
                    text-decoration: none;
                }
            }
        }
    }
}
/* fin noticias */