* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* header */
nav .container-fluid .navbar-brand {
  font-family: 'lobster',sans-serif;
  color: #630606;
}

nav .container-fluid .navbar-toggler {
  font-size: 14px;
}

nav .container-fluid .nav-item a {
  font-family: "roboto", sans-serif;
  color: black;
}

nav .container-fluid .nav-item a:hover {
  cursor: pointer;
  color: orange;
  transition: all 0.01s;
}

/* fin header */
/* main */
main {
  background-color: #FFF2F2;
  overflow-x: hidden;
}

main .link-noticia {
  text-decoration: none;
  color: black;
}

.animate__animated {
  font-family: "roboto", sans-serif;
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 2px 5px grey;
  text-transform: uppercase;
}

.title .h3, .title .h4 {
  font-family: "oswald", sans-serif;
  font-weight: bolder;
  color: #630606;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-content: center;
}

.title .h4 {
  margin-right: 45%;
}

.titulos, .noticias__secundarias h3 {
  text-decoration: none;
  color: black;
}

/* index */
.grid__container {
  width: 100%;
  margin-left: 4.5%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 900px 900px;
}

.grid__container .noticia img {
  width: 90%;
  height: 500px;
  box-shadow: 1px 1px 10px black;
}

.grid__container .noticia h3 {
  font-family: "oswald", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  width: 90%;
}

.grid__container .noticia h3:hover {
  color: #C65D7B;
  transition: all 0s;
}

.grid__container .noticia p {
  font-family: "roboto", sans-serif;
  font-size: 25px;
  text-align: justify;
  margin-top: 10px;
  line-height: 50px;
  width: 90%;
}

.grid__container .tabla {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.grid__container .tabla img {
  border-radius: 10%;
  width: 60%;
  height: 250px;
}

.grid__container .tabla img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.grid__container .tabla .texto p {
  position: absolute;
  color: white;
  font-size: 20px;
  margin-top: -2.5%;
  margin-left: 0.5%;
  font-family: 'roboto', sans-serif;
}

.noticias__secundarias {
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.noticias__secundarias div {
  width: 33%;
}

.noticias__secundarias img {
  width: 90%;
  height: auto;
}

.noticias__secundarias h3 {
  font-family: "oswald", sans-serif;
  width: 90%;
  text-align: justify;
}

.noticias__secundarias h3:hover {
  color: #C65D7B;
  cursor: pointer;
  transition: all 0s;
}

.noticias__secundarias p {
  width: 90%;
  text-align: justify;
  font-family: "roboto", sans-serif;
  font-size: 15px;
  margin-top: 10px;
  line-height: 30px;
}

/* fin index */
/* peliculas */
.card {
  box-shadow: 1px 1px 10px black;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.card .h3, .card .title .h4, .title .card .h4 {
  font-family: "oswald", sans-serif;
}

.card .card-text {
  font-family: "roboto", sans-serif;
}

.container-fluid .row .col .ratio iframe {
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-content: center;
}

/* fin peliculas */
/* series */
.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-item .text p {
  display: flex;
  justify-content: center;
  align-content: center;
  color: grey;
  font-family: 'montserrat', sans-serif;
  font-weight: bolder;
}

/*fin series*/
/* trailers */
.container-boton {
  display: flex;
  justify-content: center;
  align-content: center;
}

.container-boton a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'montserrat', sans-serif;
}

.container-boton .boton__trailers {
  background-color: #630606;
  border: none;
}

.container-boton .boton__trailers:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.container-boton .boton__trailers a:hover {
  color: white;
}

/* fin trailers */
/* footer */
footer {
  overflow-x: hidden;
  background-color: #D8B6A4;
  box-shadow: 1px 1px 10px black;
}

.container-iconos {
  display: flex;
  flex-direction: column;
  margin-left: 55%;
}

.container-iconos i {
  color: black;
}

.container-iconos i:hover {
  color: white;
  cursor: pointer;
  transform: rotate(360deg);
  transition: all 0.5s;
}

.container-relleno {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-relleno p {
  color: black;
  font-family: "roboto", sans-serif;
  line-height: 40px;
}

.container-relleno p:hover {
  cursor: pointer;
  color: white;
}

.container-input textarea {
  width: 60%;
  height: auto;
}

.container-input textarea:focus {
  border: 2px solid black;
  background-color: silver;
}

.boton-enviar {
  position: relative;
  left: 24%;
}

.copyright {
  text-align: center;
  background-color: black;
  color: white;
}

/* fin footer */
/* noticias */
.container-noticia .noticia1 {
  background-color: #efefef;
}

.container-noticia .noticia1 h2 {
  font-family: "oswald", sans-serif;
  font-size: 60px;
  text-align: left;
}

.container-noticia .noticia1 .fecha {
  color: grey;
  text-align: center;
  font-family: "roboto", sans-serif;
}

.container-noticia .noticia1 .autor {
  margin-left: 1.2%;
  color: cadetblue;
}

.container-noticia .noticia1 .desarrollo {
  font-family: "roboto", sans-serif;
  font-size: 30px;
  line-height: 50px;
  justify-content: center;
}

.container-noticia .noticia1 .desarrollo .compartir a {
  color: #630606;
  text-decoration: none;
}

/* fin noticias */
/* Media queries */
@media screen and (max-width: 390px) {
  /* index */
  .grid__container {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
  }
  .grid__container .noticia img {
    width: 90%;
    height: auto;
  }
  .grid__container .noticia h3 {
    text-align: justify;
    font-size: 40px;
    width: 90%;
  }
  .grid__container .noticia p {
    font-size: 20px;
    line-height: 40px;
  }
  .lateral .tabla {
    display: none;
  }
  .noticias__secundarias {
    flex-flow: row wrap;
    gap: 10px;
  }
  .noticias__secundarias div {
    width: 100%;
    margin-left: 5%;
  }
  /* fin index */
  /* Traileres */
  .container-boton a {
    font-size: 15px;
  }
  /* fin traileres */
  /* footer */
  footer .row {
    margin-left: 25%;
  }
  footer .row .container-iconos {
    margin-bottom: 10px;
  }
  footer .row .container-relleno p {
    line-height: 20px;
  }
  footer .row .container-input textarea, footer .row .boton-enviar {
    display: none;
  }
  /* fin footer */
  /* Noticias */
  .container-noticia .noticia1 h2 {
    font-size: 25px;
  }
  .container-noticia .noticia1 .autor {
    margin-left: 5%;
  }
  .container-noticia .noticia1 .desarrollo {
    font-size: 20px;
    line-height: 25px;
  }
  /* fin noticias */
}

/* media queries */
@media screen and (min-width: 391px) and (max-width: 768px) {
  /* index*/
  .grid__container {
    grid-template-columns: 3fr;
    grid-template-rows: 700px 0px;
  }
  .grid__container .noticia img {
    width: 90%;
    height: auto;
  }
  .grid__container .noticia p {
    font-size: 20px;
    line-height: 50px;
  }
  .grid__container .tabla {
    display: none;
  }
  .noticias__secundarias {
    width: 100%;
  }
  .noticias__secundarias div {
    width: 40%;
    margin-right: 5%;
  }
  .noticias__secundarias div img, .noticias__secundarias div p, .noticias__secundarias div h3 {
    width: 100%;
  }
  .noticias__secundarias .cobra__kai {
    display: none;
  }
  footer .boton-enviar {
    position: relative;
    left: 19%;
  }
  /* fin index*/
}

@media screen and (min-width: 392px) and (max-width: 575px) {
  /* Peliculas */
  .noticias__secundarias {
    flex-direction: column;
    gap: 20px;
  }
  .noticias__secundarias div {
    width: 80%;
    margin-left: 7%;
  }
}
