* { padding: 0%;
    margin:0%;
    box-sizing: border-box;
}
/* general */

hr {
    margin:30px;
}
h2 {
    font-family:'roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 8%;
    text-shadow: 2px 2px 5px grey;
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;
    font-family: 'oswald', sans-serif;
}    
iframe {
    width: 85%;
    height: 50vh;
    border-radius: 20%;
}
img {
    box-shadow: 0px 0px 10px black
}
.subtitulos {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    color: #C65D7B;
}
.titulos {
    text-decoration: none;
    color: black;
}
.titulos:hover {
    color: #C65D7B;
}
.peliculas .boton {
    padding: 1em 1em;
    font-size: 15px;
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white;
    border: 4px solid #efefef;
    position: relative;
    left: 38%;
    top: 15%;
}
.boton a {
    text-decoration: none;
    color: #C65D7B;  
}
.boton:hover {
    font-weight: bold;
    transform: scale(1.2);
    transition: all 0.5s;
}
/* fin generales */

/* Header */
h1 {
    padding: 50px;
    text-align: center;
}
h1 a {
    text-decoration: none;
    color: #C65D7B;
    font-family:'lobster', sans-serif;
    font-size: 120px;
    word-spacing: 20px;
}
nav { 
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    box-shadow: 5px 0px 5px black;
    font-family: 'roboto', sans-serif;
}
.menu { 
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.menu li a {
    text-decoration: none;
    color: black;  
    font-size: 25px;     
}
ul li a:hover {
    color: #C65D7B;
}
/* universe.io */
.suscribete {
    padding: 1em 1em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white;
    border: 1px solid #C65D7B;
    border-radius: 45px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
    position: fixed;
    right: 8px;
    top:200px;
}
.suscribete:hover {
    background-color: white;
    transform: translateY(-7px);
}
.suscribete:active {
    transform: translateY(-1px);
}
.suscribete a {
    text-decoration: none;
    color: #C65D7B;
}
/* fin header */
      
/* main */

/* index */
.grid__container {
    width: 100%;
    margin-top: 50px;
    margin-left: 2%;;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 900px 900px;
}
.noticia img, .noticia h3, .noticia p {
    width: 90%;
}
.noticia img {
    box-shadow: 0px 0px 10px black ;
    margin-top: 20px;
}
.noticia h3 {
    font-size: 50px;
    text-align: justify;
    margin-top: 30px;
}
.noticia p {
    font-family: 'roboto', sans-serif;
    font-size: 25px;
    text-align:justify;
    margin-top: 10px;
    line-height: 50px;
}
.tabla {
    display:flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 40px;
}
.tabla img {
    box-shadow: 5px 5px 5px #C65D7B ;
    width: 70%;
    height: 250px;
}
.tabla img:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: all 1s;
}
.tabla h3 {
    font-size: 25px;
    margin-left: 0px;
    text-decoration: underline;
    color: #C65D7B;
}
.texto p {
    position: absolute;    
    color: white;
    font-size: 20px;
    background-color: #C65D7B;
    margin-top: -2.5%;
    margin-left: 0.2%;
    font-family: 'roboto', sans-serif;
}
.noticias__secundarias {
    margin: 5% 0% 0% 3%;
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
}
.noticias__secundarias div {
    width: 33%;
}
.noticias__secundarias img {
    width:90%;
    height: auto;
    margin-bottom: 20px;
}
.noticias__secundarias h3, .noticias__secundarias p {
    width: 90%;
    text-align: justify;
}
.noticias__secundarias h3:hover {
    color: #C65D7B;
    cursor: pointer;
}
.noticias__secundarias p {
    font-family:'roboto', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    line-height: 30px;
}
/* fin index */

/* peliculas */
.grid__box {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 110vh 110vh;
    gap: 30px 70px;
    justify-content: center;
    align-content: center;
}
.grid__box h3 {
    width: 100%;
    margin-top: 20px;
    text-align: justify;
}
.grid__box img {
    width: 100%;
    height: 50%;
    margin-top: 10px;
}
.grid__box p {
    width: 100%;
    height: 10%;
    margin-top: 10px;
    font-family: 'roboto', sans-serif;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}
.trailers__destacados div {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    margin: 1%
}
/* Fin peliculas */

/* Noticia 1 */
.noticia1 {
    background-color: #f2f2f2;
    margin-left: 10%;
    margin-right: 10%;
}
.noticia1 h2 {
    margin-bottom: 10px;
    font-family: 'oswald', sans-serif;
    font-size: 60px;
}
.noticia1 .fecha {
    color: grey;
    text-align: center;
    font-size: 20px;
    font-family: 'roboto', sans-serif;
}
.autor {
    margin-left: 32px;
    margin-top: 10px;
    font-size: 20px;
    color:cadetblue;
}
.noticia1 div {
    font-family: 'roboto',sans-serif;
    font-size: 30px;
    line-height: 50px;
    justify-content: center;
    text-align: justify;
    width: auto;
    padding: 30px;
}
.thor {
    float: left;
    width: 60%;
    margin: 2% 2% 0 0;
}
/* fin noticia 1 */

/* series */
.series div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-bottom: 70px
}
.series div img {
    width: 15vw;
    height: auto;
}
.series div img:hover {
    transform: rotate(10deg);
    cursor: pointer;
    transition: all 1s;
}
/* fin series*/

/* trailers */
.boton__trailers {
    padding: 1em 1em;
    font-size: 20px;
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white;
    border: 4px solid #efefef;
    position: relative;
    left: 41%;
    top: 100%;
    margin-top: 50px;
}
.boton__trailers a {
    text-decoration: none;
    color: #C65D7B;  
}
.boton__trailers:hover {
    font-weight: bold;
    transform: scale(1.2);
    transition: all 0.5s;
}
/* fin trailers*/

/* Contacto */
#formulario {
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}
#formulario label {
    font-family: 'oswald', sans-serif;
}
#formulario .casillero:focus {
    background-color: #efefef;
    width: 25%;
    height: 5vh;
}
#formulario textarea:focus {
    background-color: #efefef;
}
/* fin contacto*/

/* footer */
footer {
    background-image: url(img/MARVEL.png);
    padding: 5%;
    margin-top: 5%;
}
.container3 .informacion {
   position: relative;
   margin-top: 30px;
   margin-bottom: 20px;
   margin-left:80%;
}
.container3 .informacion a { 
    font-size: 15px;
    font-family: 'roboto', sans-serif;
    line-height: 40px;
    text-decoration: none;
    color: white;
}
.container3 .informacion a:hover {
    color:#C65D7B ;
}
/* Fin footer */
